<% if paginate && num_pages > 1 %>
  <nav>
    <ul class="pagination pagination-sm justify-content-center">
      <% if prev_page %>
        <li class="page-item"><%= link_to '&laquo; Newer Posts', prev_page, class: 'page-link' %></li>
      <% end %>
      <%
        (1..num_pages).each do |i|
          if i == page_number %>
            <li class="page-item disabled"><%= link_to i.to_s, '#', class: 'page-link' %></li>
          <% else
            p = nil
            if i < page_number
              (i...page_number).each do p = p ? p.metadata[:locals]['prev_page'] : prev_page; end
            else
              (page_number...i).each do p = p ? p.metadata[:locals]['next_page'] : next_page; end
            end
            if p
            %>
              <li class="page-item"><%= link_to "#{i}", p.url, class: 'page-link' %></li>
            <% end %>
          <% end %>
      <% end %>
      <% if next_page %>
        <li class="page-item"><%= link_to 'Older Posts &raquo;', next_page, class: 'page-link' %></li>
      <% end %>
    </ul>
  </nav>
<% end %>
