---
pageable: true
---
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= tagname %></li>
  </ol>
</nav>

<div class="articles">
  <% page_articles.each_with_index do |article, i| %>
    <% if i > 0 %>
      <hr />
    <% end %>
    <%= partial '/blog/article_digest', locals: { article: article } %>
  <% end %>
</div>

<%= partial '/blog/pagination', locals: {
  paginate: paginate, 
  next_page: next_page, 
  prev_page: prev_page,
  num_pages: num_pages,
  page_number: page_number
} %>
